<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TestConn" connectionString="Data Source=192.168.0.230;Initial Catalog=TransactionLogs;User Id=sqladmin;Password=sql@admin;" />
     <add name="sqlTestConn" connectionString="Data Source=192.168.0.230;Initial Catalog=TransactionLogs;User Id=sqladmin;Password=sql@admin;"/>-->
    <add name="mySqlConn" connectionString="Server=192.168.0.220;port=3306;user id=root;Password=rootadmin;database=ijarah;persist security info=False" />
    <add name="mySqlConnTest" connectionString="Server=192.168.0.230;port=3306;user id=root;Password=admin@2017;database=transaction;persist security info=False" />
    <add name="oracleConnTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ijr-erp-db-t-01.ijarah.loc)(PORT=1521))(CONNECT_DATA=(SID=TEST)));User Id=APPS;Password=APPST;Workaround Oracle Bug 914652=true;" />
    <add name="oracleConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ijr-erp-db-p-1.ijarah.loc)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=prod.ijarah.loc)));User Id=apps;Password=apps;Workaround Oracle Bug 914652=true;" />
    <!--<add name="siebelConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.206)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SIEBPRDDB)));User Id=sadad;Password=siebelread;"/>-->
    <add name="siebelConnTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.54)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SIEBUAT)));User Id=sadad;Password=siebelread;" />
  </connectionStrings>
  <appSettings>
    <add key="TIMEINTERVAL" value="60000" />
    <add key="SMSURL" value="http://sms.netpowers.net/(S(2l301z32jttdhezoyjfqbamv))/BMSAPI.aspx?uid=ijarah123&amp;pwd=12345&amp;to=" />
    <add key="TEXTFILEPATH" value="c:\\IjarahSadadAlertLog" />
    <add key="ERRORLOG" value="C:/IjaraSADADServices-ErrorLog/" />
    <add key="CHECKTEST" value="1" />
    <add key="SADADPAYMENT" value="https://rbb2b.riyadbank.com/b2b/epay" />
    <add key="SADADPAYMENTTEST" value="" />
    <add key="SSLFILENAME" value="C:\\ijarahcert\\SSL.p12" />
    <add key="SSLFILENAMETEST" value="" />
    <add key="SSLPASSWORD" value="RB120120*" />
    <add key="SSLPASSWORDTEST" value="" />
    <add key="DIGITALFILENAME" value="C:\\ijarahcert\\Digital.p12" />
    <add key="DIGITALFILENAMETEST" value="" />
    <add key="DIGITALPASSWORD" value="RB120120*" />
    <add key="DIGITALPASSWORDTEST" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Default" closeTimeout="00:02:00" openTimeout="00:02:00"
                    receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:15968/IjarahSadadPaymentInsert.svc"
        binding="basicHttpBinding" bindingConfiguration="Default" contract="ServiceReference1.IIjarahSadadPaymentInsert"
        name="Default" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>