<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SENDER" value="IJARAH"/>
    <add key="FILETYPE" value="SADADBillerUploadMSG"/>
    <add key="SIGNATURE" value="Test Signature Value"/>
    <add key="FolderPath" value="c:\\IjarahLogs\\Upload"/>
    <add key="SADADUPLOADURL" value="https://rbb2b.riyadbank.com/b2b/epay"/>
    <add key="TESTSADADUPLOADURL" value="https://rbb2btest.riyadbank.com/b2b/epay2"/>
    <add key="FILENAME" value="C:\\ijarahcert\\new\\Key.p12"/>
    <add key="TESTFILENAME" value="C:\\ijarahcert\\NewUAT2017\\ijarah_uat.p12"/>
    <!--<add key="FileNameDigital" value="C:\\\\ijarahcert\\\\new\\\\Key.p12"/>-->
    <add key="PASSWORD" value="ij102030"/>
    <add key="TESTPASSWORD" value="b2b123"/>
    <add key="ERRORLOG" value="C:\\IjaraSADADUploadServices-ErrorLog"/>
    <add key="TESTUPLOAD" value="1"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.230/SadadUploadTest/IJARAHSADADUPLOAD.svc"
        binding="basicHttpBinding" bindingConfiguration="Default" contract="ServiceReference1.IIJARAHSADADUPLOAD"
        name="Default" />
    </client>
  </system.serviceModel>
</configuration>